USE [master]
GO
/****** Object:  Database [WebApiDatabase]    Script Date: 2023/2/23 下午 02:37:23 ******/
IF NOT EXISTS(SELECT * FROM sys.databases WHERE name = 'WebApiDatabase')
CREATE DATABASE [WebApiDatabase] 
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebApiDatabase', FILENAME = N'/var/opt/mssql/data/WebApiDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebApiDatabase_log', FILENAME = N'/var/opt/mssql/data/WebApiDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebApiDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebApiDatabase]
GO
/****** Object:  User [home_api]    Script Date: 2023/2/23 下午 02:37:23 ******/
/* Users are typically mapped to logins, as OP's question implies, 
so make sure an appropriate login exists. */
IF NOT EXISTS(SELECT principal_id FROM sys.server_principals WHERE name = 'webapi') 
BEGIN
    /* Syntax for SQL server login.  See BOL for domain logins, etc. */
    CREATE LOGIN [webapi]
    WITH PASSWORD = '!QAZ@WSX',check_policy = off
END

/* Create the user for the specified login. */
IF NOT EXISTS(SELECT principal_id FROM sys.database_principals WHERE name = 'webapi') 
BEGIN
    CREATE USER [webapi] FOR LOGIN [webapi]
END
GO
ALTER ROLE [db_owner] ADD MEMBER [webapi]
GO
ALTER ROLE [db_datareader] ADD MEMBER [webapi]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [webapi]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 2023/2/23 下午 02:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='CUSTOMER' and xtype='U')
BEGIN
	CREATE TABLE [dbo].[CUSTOMER](
		[SN] [bigint] IDENTITY(1,1) NOT NULL,
		[NAME] [nvarchar](64) NOT NULL,
		[PHONE_NO] [nvarchar](64) NULL
	) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HOUSE_FOR_SALE]    Script Date: 2023/2/23 下午 02:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='HOUSE_FOR_SALE' and xtype='U')
BEGIN
	CREATE TABLE [dbo].[HOUSE_FOR_SALE](
		[SN] [bigint] IDENTITY(1,1) NOT NULL,
		[CUSTOMER_SN] [bigint] NOT NULL,
		[PRICE] [decimal](18, 2) NULL,
		[ADDRESS] [nvarchar](64) NULL,
		[PUBLISH_DATE] [datetime] NOT NULL,
		[SOLD_DATE] [datetime] NULL,
		[IS_DELETE] [bit] NULL,
	 CONSTRAINT [PK_HOUSE_FOR_SALE] PRIMARY KEY CLUSTERED 
	(
		[SN] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
END
GO
ALTER TABLE [dbo].[HOUSE_FOR_SALE] ADD  CONSTRAINT [DF_HOUSE_FOR_SALE_PUBLISH_DATE]  DEFAULT (getdate()) FOR [PUBLISH_DATE]

GO
USE [master]
GO
